/* 載入字體 */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;1,200;1,300&display=swap");

/* 預設 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* 拿掉底線 */
}

/* line */
.line-left {
  height: 0.5px;
  width: 8%;
  background: #0c6045;
  position: absolute;
  top: 85px;
  left: 0px;
}

.line-right {
  height: 0.5px;
  width: 8%;
  background: #0c6045;
  position: absolute;
  top: 85px;
  right: 0px;
}

/* background */
.background {
  /*   opacity: 0.5; */
  position: fixed;
  width: 100%;
  height: 100%;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  width: 100%;
}

.line-left,
.line-right {
  display: none;
}

.logo-wrapper {
  /*     background: pink; */
  display: flex;
}

.logo-img {
  width: 50px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.logo-title {
  color: #0c6045;
  font-weight: 600;
  font-size: 1.1rem;
}

.logo-english {
  color: #787878;
  font-size: 0.9rem;
  font-family: "Karla", sans-serif;
}

/* login */
.login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-wrapper {
  height: 470px;
  background: #ffffff;
  position: absolute;
  top: 135px;
  border-radius: 10px;
  box-shadow: 5px 7px 0.8em #bcbcbc;
}

.login-img {
  height: 170px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  padding-top: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  position: relative;
}

.fa-user {
  position: absolute;
  top: 30px;
  left: 30px;
}

.fa-lock {
  position: absolute;
  top: 82px;
  left: 30px;
}

.form-user {
  all: unset;
  height: 30px;
  width: 250px;
  margin-bottom: 10px;
  border: 5px solid #ffffff;
  border-radius: 25px;
  background: #8fc98b;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.form-password {
  all: unset;
  height: 30px;
  width: 250px;
  border: 5px solid #ffffff;
  border-radius: 25px;
  background: #8fc98b;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.form-verify {
  all: unset;
  height: 30px;
  width: 110px;
  border: 5px solid #ffffff;
  border-radius: 25px;
  background: #8fc98b;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.form-user:hover,
.form-password:hover,
.form-verify:hover {
  border: 5px solid #c3f1ca;
}

.verify-box {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.verify-img {
  height: 30px;
  width: 110px;
  border-radius: 25px;
}

.verify-icon {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background: #8fc98b;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.verify-icon:hover {
  background: #379118;
}

::placeholder {
  color: #ffffff;
}

#button {
  all: unset;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background: #8fc98b;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  cursor: pointer;
}

.forget-password {
  font-size: 0.9rem;
  font-weight: 700;
  color: #000000;
}

@media screen and (min-width: 600px) {
  .line-left,
  .line-right {
    width: 17%;
  }
  .logo-img {
    width: 80px;
  }
  .logo-title {
    font-size: 1.45rem;
  }
  .logo-english {
    font-size: 1.2rem;
    color: #787878;
  }
  .login-wrapper {
    width: 400px;
    top: 170px;
  }
  .login-title {
    font-size: 1.3rem;
  }
}

/* media query */
@media screen and (min-width: 840px) {
  .line-left,
  .line-right {
    display: block;
    width: 22%;
  }
}
